body {
    color: #40514E;
    background-color: rgb(233, 235, 236);
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.imgborder {
    margin: 10px;
    border-width: 0;
    border-radius: 100%;
}

.chilliborder {
    margin: 0%;
    border-width: 0;
    border-radius: 100%;
    width: 30%;
    height: 30%;
    float: right;
    margin-left: 20px;

}



h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #66BFBF;

    padding: 10px;
}


h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #11999E;
}

.intro {
    width: 30%;
    margin: auto;
}

p {
    line-height: 2;
}

.main-top {
    background-color: #E8F9FD;
}

.dev {
    text-decoration: underline;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;

}

.footer-link {
    color: #11999E;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;


}

.design-img {
    border-radius: 100%;

    width: 30%;
    height: 30%;
    float: left;
    margin-right: 20px;


}

hr {
    width: 4%;
    border: dotted #11999E 14px;
    border-bottom: none;
    margin: 100px auto;

}

.contact-psg {
    width: 40%;
    margin: 40px auto 60px;
}

/* .cloud1 { */

/* position: absolute; */
/* right: 300px; */
/* } */

/* .cloud2 { */
/* position: absolute; */
/* left: 300px; */
/* } */

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 1rem;

}

a:hover {
    color: #EAF6F6;
}